@import "~styles/variables";

.container {
	display: flex;
	flex-direction: column;

	position: relative;
}

.header {
	.icon {
		display: inline-block;
		margin-right: 5px;
		
		font-size: 15px;
		color: 13px;
	}
}

.list {
	position: relative;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 25px 0;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(0deg, $light 0%, transparentize($light, 1) 100%);
}

@media (min-width: $mobile) {
	.header,
	.list {
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
	}
	.header {		
		padding: 25px 0;
	}
	.list {
		flex: 1;
	}

	.footer {
		position: absolute;		
	}
}
@media (max-width: $mobile) {
	.header {
		display: flex;
		flex-direction: column;
		padding: 20px 0;
	}
	.list {
		height: calc(100vh - 75px);
		padding-bottom: 15px;
		overflow-y: auto;
	}

	.footer {
		position: fixed;
	}
}