@import "~styles/variables";

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    color: $blue;
    font-weight: 900;
  }
  .description {
    font-size: 22px;
  }
}

@media (min-width: $mobile) {
  .title {
    font-size: 120px;
  }
  .description {
    margin-bottom: 35px;

  }
}
@media (max-width: $mobile) {
  .title {
    font-size: 86px;
  }
  .description {
    margin-bottom: 20px;

    width: 250px;
    text-align: center;
    line-height: 32px;
  }
}