@import "~styles/variables";

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9001;

  background: transparentize($black, 0.60);
}

.modal {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;

  transform: translate(-50%, -50%);
  
  border-radius: $br;

  background: $light;

  .title {
    margin-bottom: 25px;

    font-size: 14px;
    font-weight: 700;
  }
  .close {
    transition: background $t $e,
                color $t $e;

    height: 34px;
    width: 34px;
    margin: -10px;
    position: absolute;
    top: 25px;
    right: 25px;

    border-radius: $br;

    color: $gray;
    font-family: monospace;
    font-size: 18px;
    font-weight: 400;   
    line-height: 34px;
    text-decoration: none;
    text-align: center;

    background: transparent;

    &:hover {
      background: transparentize($gray, 0.5);
      color: $white;
    }
  }
}